 /* CSS RESET */

*, *::after, *::before {
  box-sizing: border-box
}

:root {
  --font-sans: 'Montserrat', Helvetica, Arial, sans-serif;
  --font-serif: Cambria, Georgia, serif;

  --color-neutral-light: #ede9e9;
  --color-neutral-medium: #999191;
  --color-neutral-dark: #343030;

  --color-main-light:#F3AFAF;
  --color-main-medium: #605aa1;
  --color-main-dark: #2c2949;

  --color-white: #fff;
  --color-black: #111;

  --header-height: 3rem;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: var(--font-sans);

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

hr {
  border-top: 0.1px solid var(--color-neutral-light);
}





/* Layout Classes */
.hidden { display: none; }

.display-flex { display: flex; }
.display-block {display: block;}
.display-inline-flex {display: inline-flex;}
.display-inline-block {display: inline-block;}

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; } 

.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center; }
.flex-mood { flex-direction: column; }





/* PAGE ELEMENTS */
[data-role="page"].ui-page-active {
  display:flex;
    flex-direction:column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[data-role="main"] {
  flex: 1 1 100%;
    overflow: hidden;
    position: relative;
}

[data-role="header"],
[data-role="footer"] {
  flex: none;
  line-height: var(--header-height);
  border-width: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
}

.ui-header .ui-title {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  padding: 0;
  font-weight: 700;
  /*background-color: var(--color-main-light);*/
  color: var(--color-main-dark);
  z-index: 1000000;
}

.ui-checkbox {
  width: 50%;
}

.ui-input-search {
  border: 1px solid var(--color-main-light);
  border-radius: 1em;
}

[data-role="header"] {
  height: 15vh;
  background-color: var(--color-main-light);
}

[data-role="header"] img {
  width: 15%;
}

[data-role="footer"] {
  text-align: center;
  height: var(--header-height);
}

[data-role="button"] {
  padding: 0;
}

.overscroll {
  overflow: auto;
  height: 100%;
    width: 100%;
}





/* Navigation Elements */
[data-role="header"] ul,
#color-profile-page [data-role="main"] ul {
  top: 3vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}

[data-role="footer"] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}

[data-role="header"] li,
#color-profile-page [data-role="main"] li{
  border-bottom: 0;
}

[data-role="footer"] li {
    text-align: center;
    flex: 1 1 auto;
}

[data-role="header"] a,
#color-profile-page [data-role="main"] a {
    display: block;
    margin: 0;
    padding: 0 1em;
    text-align: right;
}

[data-role="footer"] a {
  display: block;
  margin: 0;
    padding: 7px 1em;
    text-align: center;
}

[data-role="footer"] img {
  height: 2em;
}

#color-profile-page [data-role="header"] ul li a,
#add-new-page [data-role="header"] ul li a {
  text-align: left;
}





/* FORM ELEMENTS */
.form-control {
  margin: 1em 0;
}

.ui-mobile .form-label {
  margin: 1.5em 0 0.1em 0;
  font-size: 1em;
  font-family: var(--font-sans);
  font-weight: 400;

  /*color: var(--color-neutral-medium);*/
}

.form-input {
  width: 100%;
  display: inline-block;
  border: 1px solid var(--color-main-light);
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 1em;
  outline: 0;
  font: inherit;
}

.form-button {
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 1em;
  border-width: 0;
  width: 30%;
  background-color: var(--color-main-light);
  outline: 0;
  display: inline-block;
  font: inherit;
  text-align: center;
  cursor: pointer;
}

.form-button:hover {
  text-decoration: none;
  background-color: var(--color-main-dark);
}





/* MODAL */
.modal,
.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal.active {
  opacity: 1;
}

.modal-back {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.active .modal-back {
  pointer-events: initial;
}

.modal-popup {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 5vh));
  transition: all 0.3s;
}

.modal.active .modal-popup {
  transform: translate(-50%, -50%);
  pointer-events: initial;
}

.modal-drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.modal-drawer.left,
.modal-drawer.right {
  height: 100%;
  width: 90vw;
}

.modal-drawer.left { left: 0; transform: translateX(-100%); }
.modal-drawer.right { right: 0; transform: translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
  height: 30vh;
  width: 100%;
}

.modal-drawer.top { top: 0; transform: translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform: translateY(100%); }

.modal.active .modal-drawer {
  transform: translate(0);
  pointer-events: initial;
}

.modal-head,
.modal-foot {
  background-color: #e7e6f0;
  padding: 0.5em 1em;
}

.modal-body {
  background-color: var(--color-white);
  flex: 1 1 100%;
  padding: 0.5em 1em;
  position: relative;
  overflow: hidden;
}

.modal-popup img {
  width: 100%;
}

.modal-popup :first-child {
  border-radius: 5px 5px 0 0;
}

.modal-popup :last-child {
  border-radius: 0 0 5px 5px;
}










/* SIGN IN*/


 #Round,
 #Round-register {
  position: absolute;
    right: 0;
    top: 1vh;
  width: 0;
  height: 0;
  border-top: 100vh solid transparent;
  border-right: 10vh solid  var(--color-main-light);
  z-index: -50;
  opacity: 0.3;
}

#Round-register {
  border-right: 40vh solid #F3AFAF;
}

.welcome,
.welcome-register {
  padding: 4%;
  color: var(--color-main-dark);
  margin-bottom: 0;
}

.welcome h1,
.welcome-register h1 {
  font-size: 2.5em;
  font-weight: 900;
  margin: 0;
}

.welcome h3,
.welcome-register h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
}

.welcome-register {
  color: #202f40;
}

.keep {
  padding: 0;
  padding-left: 2.5em;
  color: var(--color-main-dark);
}

.signin-button {
  float: right;
  color: var(--color-white);
  display: block;
}

.register p,
.register-register p {
  margin: 0 0 0.5em 0;
  text-align: center;
  color: var(--color-main-light);
  font-weight: 400;
}

.register a {
  color: var(--color-main-light);
}

.register-register p {
  color: #202f40;
}

.register-register a {
  color: #a0bfdd;
}





/* MAP */
#recent-page {
  background-color: var(--color-main-light);
}

#recent-page [data-role="main"] {
  background-image: url('../img/map.png');
  background-position: center;
  background-color: var(--color-main-light-light);
  background-size: cover;
}






/* LIST */
#list-page {
  color: var(--color-main-dark);
}

.search {
  margin-top: 3vh;
}

.search form {
  width: 95%; 
  height: 5vh; 
  margin: 0 auto;
}

.sort {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.sort .ui-btn {
  padding: 0.3em 20px;
}

.sort .ui-select {
  border: 1px solid var(--color-main-light);
  border-radius: 1em;
  margin-left: 3%;
}

#list-page .overscroll ul {
  list-style-type: none;
  padding: 0;
}

#list-page .overscroll ul li {
  margin-bottom: 2vh;
  border-bottom: 0.1px solid #e7e6f0;
  padding: 5px 10px;
}

 #list-page .overscroll ul li img {
  width: 20%;
  align-self: center;
}

.list-item-text {
  margin-left: 8%;
}

.list-item-text h3 {
  margin: 1vh 0;
  font-weight: 600;
}

.list-item-text p {
  margin: 0;
  font-weight: 400;
}





/* PROFILE */
#user-profile-page {
  color: var(--color-main-dark);
}

.profile-username,
.profile-model {
  margin: 3vh auto 1vh auto;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.profile-model {
  position: absolute;
  margin: 0;
  width: 100%;
  text-align: center;
}

.display-data {
  margin-top: 4vh;
}

.display-number,
.display-text {
  display: flex;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

.display-number {
  font-size: 1.5em;
}

.display-number p,
.display-text p {
  margin: 0 auto;
}

/*.display-number img {
  width: 10%;
  height: 10%;
  margin: 0 25%;
}*/

.card {
  font-size: 1.25em;
    box-shadow: 0 4px 8px 0 rgba(231,230,240);
    border-radius: 5px;
    width: 80%;
    margin: 2vh auto;
    min-height: 8vh;
    align-items: center;
    background-color: #e7e6f0;
}

#profile-form {
  padding: 0.8em 2em 1em 2em;
}

#color-profile-page [data-role="main"] ul {
  width: 100%;
  top: 0;
}

#color-profile-page [data-role="main"] ul li {
  text-align: center;
  flex: 1;
}

#color-profile-page [data-role="main"] ul li a {
  height: 100%;
  text-align: center;
}

#color-profile-page [data-role="main"] ul li a img {
  height: 2em;
}

.middle-title {
  flex: none;
  height: 13vh;
}

.middle-title h3 {
  margin: 0 auto 1vh auto;
  text-align: center;
  font-weight: 400;
}

.down-section {
  flex: 1 1 100%;
  position: relative;
  overflow: hidden;
}

.icon img {
  height: 1em;
  mood-align: text-bottom;
}

hr {
  border: 1px solid #e7e6f0;
}




